<section class="pt-5d-flex">
    <h2>Galería de imágenes</h2>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <img src="../../../assets/galeria-de-img/4UR47UZZ4BHMFEDKQWC5FN472Y.jpg" alt="">
            </div>
            <div class="col">
                <img src="../../../assets/galeria-de-img/D_NQ_NP_728227-MLM44486816579_012021-W.jpg" alt="">      
            </div>
            <div class="col">
                <img src="../../../assets/galeria-de-img/mojo-jojo.jpeg" alt="">      
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="../../../assets/galeria-de-img/descarga.png" alt="">      
            </div>
            <div class="col">
                <img src="../../../assets/galeria-de-img/enhanced-11194-1591655015-27.jpg" alt="">
            </div>
            <div class="col">
                <img src="../../../assets/galeria-de-img/lcs2.png" alt="">     
            </div>
        </div>
    </div>
</section>