<section>

  <h1 class="bellota-title">Bellota</h1>
  <div class="bellota-div">
    <p>
      Bellota es la más ruda del trío y quien toma decisiones espontáneas; el sitio web
      de Cartoon Network la califica como una «marimacho». Su ceño casi
      siempre fruncido y resistencia a mostrar su lado sensible crean un
      contraste con la postura alegre de sus hermanas. Las especias definen
      su personalidad, el verde la representa y su cabello negro con estilo bob
      no tiene arreglos. Posee un fuerte temperamento, por lo que su modo
      de proceder es usualmente el más impulsivo o frenético, y en ocasiones
      manifiesta una actitud revoltosa. Es la única Powerpuff Girl
      que no tiene una habilidad única.
    </p>
    <img src="../../../../assets/images/bellota.png" alt="" />
  </div>
</section>
