<nav class="footer fixed-bottom" style="background-color:rgb(125, 170, 254)">
    <div class="mt-1">
        <p>Conocé más sobre Las Chicas Superpoderosas entrando a nuestras redes sociales!</p>
    </div>
    <div class="icons-div">
      <img src="../../../assets/images/facebook-logo.png" width="30" height="30" class="d-inline-block" alt="">
      <img src="../../../assets/images/instagram-logo.png" width="30" height="30" class="d-inline-block" alt="">
      <img src="../../../assets/images/linkedin.png" width="30" height="30" class="d-inline-block" alt="">
    </div>
</nav>