
  <nav class="navbar navbar-expand-lg" style="background-color:rgb(125, 171, 254)">
    <div class="container-fluid">
       <a class="navbar-brand mb-0 h1" href="#">
        <img src="../../../assets/images/cn.png" width="40" height="auto" alt="cartoons network" class="img mr-2">Las chicas superpoderosas
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Personajes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Burbuja</a></li>
              <li><a class="dropdown-item" href="#">Bombón</a></li>
              <li><a class="dropdown-item" href="#">Bellota</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Personajes secundarios</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="#">Galería de imágenes</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="#">Contacto</a>
        </li>
        </ul>

        <div class="translation-div">
            <a class="navbar-brand pointer languages-button">
                <img src="../../../assets/images/ar.png" width="30" height="30" class="d-inline-block align-top" alt="flag ES"> 
            </a>
            <a class="navbar-brand pointer languages-button">
                <img src="../../../assets/images/en.png" width="30" height="30" class="d-inline-block align-top" alt="flag UK"> 
            </a>
        </div>
      </div>
    </div>
  </nav> 


