<nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color:rgb(125, 171, 254)">
    <a class="navbar-brand mb-0 h1" href="#">
        <img src="../../../assets/images/cn.png" width="40" height="auto" alt="cartoons network" class="img mr-2">Las chicas superpoderosas
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Personajes</a> 
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Burbuja</a>
                <a class="dropdown-item" href="#">Bombón</a>
                <a class="dropdown-item" href="#">Bellota</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Personajes secundarios</a>
              </div>       
        <a class="nav-item nav-link" href="#">Galería de imágenes</a>
        <a class="nav-item nav-link" href="#">Contacto</a>
      </div>
    
        <div class="translation-div">
            <a class="navbar-brand pointer languages-button">
                <img src="../../../assets/images/ar.png" width="30" height="30" class="d-inline-block align-top" alt="flag ES"> 
            </a>
            <a class="navbar-brand pointer languages-button">
                <img src="../../../assets/images/en.png" width="30" height="30" class="d-inline-block align-top" alt="flag UK"> 
            </a>
        </div>

    </div>  
  </nav>





  <!-- <nav class="navbar" style="background-color:rgb(125, 171, 254)">

    <div class="navbar-div container-fluid">
        
        <h3>hola</h3>
  
        <div class="translation-div">
          <a class="navbar-brand pointer languages-button">
              <img src="../../../assets/images/ar.png" width="30" height="30" class="d-inline-block align-top" alt="flag ES"> 
          </a>
          <a class="navbar-brand pointer languages-button">
              <img src="../../../assets/images/en.png" width="30" height="30" class="d-inline-block align-top" alt="flag UK"> 
          </a>
        </div>
        
    </div>
    </nav>
   -->