section{
    padding-top: 4.5rem;
    height: 100vh;
    background-color: rgb(196, 196, 196);
    }
.burbuja-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.burbuja-title{
    padding-left: 2rem;
    font-weight: bold;
    margin-bottom: 0;

}
p{
    padding: 1rem 2rem 2rem 2rem;
    font-size: 1rem;
}
img{
    padding: 0 2rem 2rem 2rem;
    height: 22rem;
    width:fit-content;
}
@media (min-width: 768px) {
    .burbuja-div{
        flex-direction: row;
        align-items: flex-start;
    }
    p{
    padding: 1rem;
    }
    img{
        height: 16rem !important;
    }
}
@media (min-width: 992px) {
    
    p{
        padding: 2rem;
    }
    img{
        height: 25rem !important;
    }


}