
<div class="home-div">
  <h1 class="home-title">Las chicas superpoderosas</h1>
  <h2 class="home-subtitle">Salvando el mundo antes de la hora de dormir</h2>
</div>
<div class="info-div">
  <h3 class="info-title">Las chicas superpoderosas</h3>
  <p>The Powerpuff Girls (conocida en Hispanoamérica como Las chicas
    superpoderosas y en España como Las supernenas)
    es una serie de animación estadounidense creada por Craig McCracken y
    emitida por Cartoon Network. Sus historias de acción-aventura se centran en
    Burbuja, Bomcón y Bellota, tres niñas de edad preescolar que tienen
    superpoderes y combaten el crimen —particularmente a su archienemigo, Mojo
    Jojo— en la ficticia ciudad de Townsville, Estados Unidos. Viven con su
    creador, el profesor Utonium, y tras desempeñarse como defensoras regresan a
    sus ocupaciones como infantes normales. Por ello, el eslogan del programa
    sintetiza la premisa como «Saving the world before bedtime» («Salvando el
    mundo antes de la hora de dormir»).<br><br> McCracken inició el proyecto en 1992 como un
    cortometraje mientras cursaba su segundo año en el
    programa de animación del Instituto Californiano de Artes. Tras
    rebautizarlo como The Powerpuff Girls, Hanna-Barbera produjo dos episodios
    piloto y los emitió en el programa What a Cartoon! entre 1995 y 1996.
    Debutó en formato regular el 18 de noviembre de 1998 como la cuarta serie
    proveniente del proyecto World Premiere Toons y su emisión original finalizó
    el 25 de marzo de 2005. Pertenece a la antología de los Cartoon Cartoons y suscitó
    un amplio interés en público de varias edades, así como un auge de
    mercancías basadas en la consigna del «poder femenino», tales como mochilas,
    juguetes, camisetas y loncheras. Inspirado en las producciones que
    disfrutaba de pequeño, McCracken dotó a The Powerpuff Girls con numerosas
    referencias a la cultura popular y humor dirigido al público adulto.
    Durante su emisión, la serie fue nominada a seis premios Primetime Emmy,
    nueve Annies y un Kids Choice Award. Otros productos derivados incluyen una
    adaptación al anime, historietas, varias colecciones en DVD y videojuegos.
    <br><br>Audiencias y medios especializados han sido positivos al
    valorarla: comúnmente la exaltan por su representación de los superhéroes,
    atractivo intergeneracional y enfoque en roles femeninos
    fuertes, aunque también generó críticas por la violencia
    física que exhiben los episodios y su película. Incluso ha inspirado
    análisis que le atribuyen un carácter feminista, pero el creador negó que
    este haya sido su propósito. 
  </p>
</div>
