<section>
  <h1 class="bombon-title">Bombón</h1>
  <div class="bombon-div">
    <p>
      Bombón es la líder autoproclamada del equipo,admiradora de los roles
      femeninos en la sociedad. Su color característico es el rosa y el
      ingrediente predominante en su personalidad es «todo lo bueno», de acuerdo
      con la combinación de estos elementos en la secuencia de apertura. 
      Luce una larga cabellera pelirroja que funge visualmente como una capa y
      un gran moño rojo representativo de una corona. Es la miembro más
      metódica y sensata del trío, aunque a veces su carácter es demasiado
      imperativo o arrogante. Su superpoder especial es el «aliento de
      hielo».
    </p>
    <img src="../../../../assets/images/bombon.png" alt="" />
  </div>
</section>
