<section>
    <h1 class="burbuja-title">{{ burbuja.name }}</h1>
    <div class="burbuja-div">
        <p>{{ burbuja.description }}</p>
        <img [src]="burbuja.img" alt=""> 
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="button" class="btn btn-outline-secondary" (click)="navigation.goBack()">VOLVER {{navigation.getPreviousUrl()}}</button>

      <h3>History</h3>
      <span *ngFor="let url of navigation.getHistory(); let i = index"> {{i}}={{url}} </span>
    </div>
</section>
